@{
    ViewBag.Title = "Home Page";
}


<div class="top-content">
    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text">
                    <div class="red-text wow wobble bounceInRight "> <span>Client Access Realty</span>  </div>
                    <div class="description wow fadeInLeftBig">
                        <p>
                            <h4><strong>Real Estate Simplified</strong></h4>
                        </p>
                    </div>
                    <div class="top-big-link wow fadeInUp">
                        <a class="btn btn-link-2 scroll-link" href="#testimonials"><Strong>Reviews</Strong></a>
                        <a class="btn btn-link-2 scroll-link" href="#about-us"><Strong>Learn more</Strong></a>
                        <a class="btn btn-link-2" href="search/index.html"><Strong>Search Listings</Strong></a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 top-arrow wow bounceInRight">

                </div>
            </div>
        </div>
    </div>
</div>


<!-- Always beautiful -->
<div class="always-beautiful-container section-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 always-beautiful section-description wow fadeIn">
                <h2>Better Results, Better Service, Michigan's Best Real Estate</h2>
                <div class="divider-1 wow fadeInUp"><span></span></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-7 always-beautiful-box wow fadeInLeft">
                <div class="always-beautiful-box-text always-beautiful-box-text-left">
                    <h3></h3>
                    <p class="medium-paragraph">
                        My name is Curtis Brock II, and I want to personally welcome you to my website. Whether you are buying,selling or renting a home, condominium or investment property, you are sure to find the real estate expertise and services you need and can trust.
                    </p>
                    <p>
                        I take great pride in providing my clients with an exceptional real estate buying or home selling experience. After years of working in the Oakland County market, you can count on me to deliver sound, practical advice and savvy negotiating skills. While I approach real estate as a business transaction, I believe my role is primarily that of a consultant, not a salesman. I take each buyer or seller's unique needs into account when providing my recommendations.</span>
                    </p>
                </div>
            </div>
            <div class="col-sm-5 always-beautiful-box wow fadeInUp">
                <img src="~/Content/img/devices/pc2.jpg" alt="" />
            </div>
        </div>
    </div>
</div>




<!-- Call to action -->
<div class="call-to-action-container section-container section-container-image-bg" id="relocate">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 call-to-action section-description wow fadeInLeftBig">
                <h2><strong>Relocation Specialist.</strong></h2>
                <div class="divider-1 wow fadeInUp"><span></span></div>
                <p>
                    <h3>If you are relocating to the Metro Detroit Area, we can help. We are licensed realtors specializing in Novi, Southfield, Oak Park, West Bloomfield, Farmington Hills, Birmingham, Bloomfield, Ferndale, Berkley and Royal Oak. We have many years of experience finding properties for transferees to lease or purchase.
                </p><br>

                <p>We are happy to preview properties for you based on your criteria and have a house or condo ready for you when you arrive. We can arrange to have the home furnished for you.  Minimum 1 year lease. Shorter terms are sometimes available however you will have to pay a premium. You do not pay the taxes or association fees. There is no charge to you for my service.</p><br>

                <p>
                    <strong>Please note that I can show you any property that is listed by a real estate agent so there is no need for you to work with multiple agents.</strong></h3>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 section-bottom-button wow fadeInUp">
                <a class="btn btn-link-1" href="/search">Rent Today</a>
            </div>
        </div>
    </div>
</div>

<!-- About us -->
<div class="about-us-container section-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 about-us section-description wow fadeIn">
                <h2><Strong>About us</Strong></h2>
                <div class="divider-1 wow fadeInUp"><span></span></div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 about-us section-description">
                <h1>As a client, you rely on your Realtor. He or she represents you in one of the most important financial decisions you will ever make. Its an ideal match you can have an absolute trust, a bedrock faith in my  motives, ethics, and professionalism as your Realtor.</h1>
                <div class="divider-1 wow fadeInUp"><span></span></div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 about-us-box wow fadeInUp">
                <div class="about-us-photo">
                    <!--                            <img src="Content/img/about/1.jpg" alt="" data-at2x="Content/img/about/1.jpg">-->
                    <div class="about-us-role">Investor</div>
                </div>
                <h3>Darron Puryear</h3>
                <p>Real Estate Strategist and Car Enthusiast</p>

            </div>
            <div class="col-sm-4 about-us-box wow fadeInDown">
                <div class="about-us-photo">
                    <!--<img src="Content/img/about/3.jpg" alt="" data-at2x="Content/img/about/2.jpg">-->
                    <div class="about-us-role">Broker</div>
                </div>
                <h3>Curtis Brock</h3>
                <p>Detail Oriented.  Likes to make deals</p>

                <div class="about-us-social">
                    <a href=https://www.facebook.com/curtbrock><span class="typcn typcn-social-facebook"></span></a>
                    <a href=www.linkedin.com/in/curtbrock><span class="typcn typcn-social-linkedin"></span></a>
                    <a href=https://twitter.com/curtbrock><span class="typcn typcn-social-twitter"></span></a>
                </div>
            </div>
            <div class="col-sm-4 about-us-box wow fadeInUp">
                <div class="about-us-photo">
                    <!--<img src="Content/img/about/2.jpg" alt="" data-at2x="Content/img/about/3.jpg">-->
                    <div class="about-us-role">Partner</div>
                </div>
                <h3>Amahad Hazat</h3>
                <p>Realtor.  Workout Warrior.</p>
                <!--                        <div class="about-us-social">
                                            <a href="#"><span class="typcn typcn-social-facebook"></span></a>
                                            <a href="#"><span class="typcn typcn-social-dribbble"></span></a>
                                            <a href="#"><span class="typcn typcn-social-twitter"></span></a>
                                        </div>-->
            </div>

        </div>
        <div class="divider-1 wow fadeInUp"><span></span></div>
        <div class="row">           <br>    </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <h1><Strong>Contact us</Strong></h1>
                <p>We aim to provide great customer service.  For questions about existing packages or how to get started, contact our  support team. Just ask. Get answers. Your questions and comments are important to us. </p>
                <a class="btn btn-link-1" href=mailto:support@iheartagent.com>Contact us</a>

            </div>

            <div class="col-sm-4">
                <h1><Strong>Partner with us</Strong></h1>
                <p>
                    We are growing and we are expanding partner community.
                    We work with select partners to produce enduring relationships
                    as together we can  increase revenue, build our mutual brands, and stretch our reach.
                </p>
                <a class="btn btn-link-1" href=partner/index.html>Partner with us</a>

            </div>
        </div>
        <div class="row">           <br>    </div>
    </div>
</div>

<!-- Testimonials -->
<div class="testimonials-container section-container section-container-image-bg name = testimonials">
    <div class="container">
        <div class="row">
            <div class="col-md-2 testimonials  wow fadeIn"></div>
            <h2><span><strong>Testimonials</strong></span></h2>
            <div class="col-md-5 testimonials  wow fadeIn">

                <script src="//fast.wistia.com/embed/medias/ob2q83vn8l.jsonp" async></script>
                <script src="//fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_ob2q83vn8l videoFoam=true" style="height:100%;width:100%">&nbsp;</div></div></div>
            </div>
            <div class="col-md-5 testimonials  wow fadeIn">

                <script src="//fast.wistia.com/embed/medias/ji9kchh1ei.jsonp" async></script>
                <script src="//fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_ji9kchh1ei videoFoam=true" style="height:100%;width:100%">&nbsp;</div></div></div>
                <div class="col-md-1 testimonials  wow fadeIn"></div>
            </div>
        </div>
    </div>
</div>


    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 footer-social">

                    <a href=https://www.facebook.com/curtbrock><span class="typcn typcn-social-facebook"></span></a>
                    <a href=http://instagram.com/adblazer><span class="typcn typcn-social-linkedin"></span></a>
                    <a href=https://twitter.com/curtbrock><span class="typcn typcn-social-twitter"></span></a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 footer-copyright">

                </div>
            </div>
        </div>
    </footer>
