
    <div class="adblazer" ng-app="myApp">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="row">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        </p><span class="glyphicon glyphicon-heart">WE LOVE OUR CUSTOMERS.</span>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#contact">CONTACT</a></li>                           
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <div class="demo-banner">
            <div class="container">
                <div class="row">
                    <br>
                    <br>
                    <div class="demo-text">I’d Buy Up ‘A Couple Hundred Thousand’ Single-Family Homes If I Could – Warren Buffett</div>
                   
                </div>
            </div>
        </div>

<iframe src="http://matrix.realcomponline.com/Matrix/public/IDX.aspx?idx=d9a26e3" width="1024px" height="520px" frameborder="0" marginwidth="0" marginheight="0"></iframe>

