<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Thank You</title>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link href="../assets/css/demo_style.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="../assets/css/style.css" >
        <link rel="shortcut icon" href="http://iheartagent.com/images/favicon.ico" type="image/ico" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    </head>
    <body class="adblazer" ng-app="myApp">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="row">

                    <div class="collapse navbar-collapse" id="myNavbar">

                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#contact">248-499-3831</a></li>                           
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <div class="demo-banner">
            <div class="thanksContainer">
                <div class="row">
                    <br>
                    <br>
                    <div class="  demo-text">Thank You
                        <p><span class="glyphicon glyphicon-ok">We have received you application and will contact you shortly.</span>  </p>
                        </p><br><span class="glyphicon glyphicon-heart"></span><p>We love our customers.</p>
                        <br><br>

                    </div>
                </div>


            </div>
        </div>
        <div class="container">

        </div>


    </body>
</html>
